
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(179, 179, 179);
  }
  
  .tables {
    text-align: center;
    color: #33ff00a8;
    font-weight: 700, bold;
    letter-spacing: 5px;
    font-size: 55px;
    font-family: cursive;
    

  }
  
  h2 {
    color: rgb(22, 10, 95);
    text-align: center;
  }
  
  table {
    border: 2px solid;
    color: rgb(22, 10, 95);
    width: 650px;
    margin: 0 auto;
  }
  
  thead {
    background-color: rgb(171, 160, 221);
  }
  
  td {
    border: 1px solid black;
    font-family: cursive;
  }
  
  .code {
    font-family: cursive, serif;
    background-color:rgba(21, 10, 95, 0.363);;
    color: rgb(56, 194, 212);
    border-radius: 20%;
  }
  tr {
    border: solid, black;
    font-family: cursive;
  }